body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

nav {
  text-align: center;
  padding: 10px;
}

.hamburgar {
  display: none;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
}

main {
  display: flex;
  justify-content: center;
}

.button {
  background-color: #555;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button a {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 1s;
}

.button a span {
  position: relative;
  z-index: 2;
}

.button a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  transition: all 0.35s;
}

.button a:hover {
  color: #fff;
  transform: rotate(360deg);
}

.button a:hover:after {
  width: 100%;
}

/* .button:hover {
  background-color: #4d6dc3;
  transform: rotate(45deg);
} */

.container {
  display: flex;
  flex-direction: column;
  width: 900px;
  background-color: lightcoral;
}

.section {
  padding: 40px;
  background-color: #f1f1f1;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.section1 {
  display: flex;
  align-items: center;
  gap: 30px;
}

.section1 img {
  width: 50%;
  height: auto;
  border-radius: 10px;
  animation: rotateImg 10s linear infinite;
}
@keyframes rotateImg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
.section1 img:hover {
  animation: step-end;
}

.text {
  font-weight: bold;
  font-size: 50px;
  line-height: 65px;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 400%;
  animation: move 5s ease infinite;
  background-image: linear-gradient(
    68.7deg,
    rgba(29, 173, 235, 1) 13.2%,
    rgba(137, 149, 250, 1) 29.8%,
    rgba(229, 109, 212, 1) 48.9%,
    rgba(255, 68, 128, 1) 68.2%,
    rgba(255, 94, 0, 1) 86.4%
  );
}
@keyframes move {
  0%,
  100% {
    background-position: 200% 0%;
  }

  50% {
    background-position: 0% 200%;
  }
}

/* .text1 {
  font-size: 2.5rem;
  transform: skewX(20deg);
} */

.section2 img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.section2 img:hover {
  transform: scale(1.5);
}

.catGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.catGrid img {
  width: 100%;
  height: auto;
  animation: rotateImg 10s linear infinite;
}
@keyframes rotateImg {
  from {
    transform: rotate(90deg);
    transform: scale(0.5);
  }
  to {
    transform: rotate(180deg);
  }
}
.catGrid img:hover {
  animation: step-end;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

@media (max-width: 600px) {
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* max-width: 100%;
    overflow-x: hidden; */
  }
  header {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: auto;
  }

  header h1 {
    display: none;
  }

  nav {
    display: none;
  }

  .hamburgar {
    display: flex;
    margin-right: 10px;
  }
  .container {
    display: flex;
    flex-direction: column;
    background-color: lightcoral;
    max-width: 100%;
    overflow-x: hidden;
  }
  .button:hover {
    background-color: #4d6dc3;
  }
  .section {
    padding: 40px;
    background-color: #f1f1f1;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .text,
  .text1 {
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 400%;
    animation: move 5s ease infinite;
    background-image: linear-gradient(
      68.7deg,
      rgba(29, 173, 235, 1) 13.2%,
      rgba(137, 149, 250, 1) 29.8%,
      rgba(229, 109, 212, 1) 48.9%,
      rgba(255, 68, 128, 1) 68.2%,
      rgba(255, 94, 0, 1) 86.4%
    );
  }
  @keyframes move {
    0%,
    100% {
      background-position: 200% 0%;
    }

    50% {
      background-position: 0% 200%;
    }
  }

  .section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .section1 img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    animation: rotateImg 5s linear infinite;
  }
  @keyframes rotateImg {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }
  .section2 img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .section2 img:hover {
    transform: scale(1.2);
  }
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: auto;
  }
}
